<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Szczegóły zamówienia</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="row">


                            <div class="col-md-6">
                                <div class="card ">
                                    <div class="card-header card-header-text card-header-primary ">
                                        <div class="card-text">
                                            <h4 class="card-title">Kontrahent</h4>
                                        </div>
                                    </div>
                                    <div class="card-body" id="contractor-info">
                                        <b id="contractor-name">Betony Sp. z o. o. NIP 111 222 33 44</b>
                                        <p id="contractor-adress">ul. Betonowa 11, 80-240 Gdańsk, Polska</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header card-header-text card-header-primary">
                                        <div class="card-text">
                                            <h4 class="card-title">Handlowiec</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <b>Zbigniew Kowalski</b>
                                        <p>
                                            <u>jan@betonyspzoo.pl </u>
                                            tel. +48 888 777 666
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header card-header-text card-header-primary">
                                        <div class="card-text">
                                            <h4 class="card-title">Nazwa towaru</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p>Europalety x6</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header card-header-text card-header-primary">
                                        <div class="card-text">
                                            <h4 class="card-title">Załadunek</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Kiedy:</label>

                                            </div>
                                            <div class="col-md-8">
                                                2019-07-20 10:00:20
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Lokalizacja:</label>


                                            </div>
                                            <div class="col-md-8">
                                                Betony Sp. z o. o.
                                                <p>ul. Betonowa 4, 80-240 Gdańsk, Polska</p>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Uwagi:</label>

                                            </div>
                                            <div class="col-md-8">
                                                Załadunek na rampie A
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header card-header-text card-header-primary">
                                        <div class="card-text">
                                            <h4 class="card-title">Rozładunek</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Kiedy:</label>

                                            </div>
                                            <div class="col-md-8">
                                                2019-07-21 12:00:20
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Lokalizacja:</label>


                                            </div>
                                            <div class="col-md-8">
                                                PolBudInvest Sp. z o. o.
                                                <p>ul. Budowniczych 4, 80-299 Gdańsk, Polska</p>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Uwagi:</label>

                                            </div>
                                            <div class="col-md-8">
                                                Rozładunek na rampie E
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header card-header-text card-header-primary">
                                        <div class="card-text">
                                            <h4 class="card-title">Pojazd</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Typ:</label>

                                            </div>
                                            <div class="col-md-8">
                                                20T
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Nr rejestracyjny:</label>


                                            </div>
                                            <div class="col-md-8">
                                                GD12000
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header card-header-text card-header-primary">
                                        <div class="card-text">
                                            <h4 class="card-title">Kierowca</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Imię i nazwisko:</label>

                                            </div>
                                            <div class="col-md-8">
                                                <b>Zbigniew Szybki</b>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Dane kontaktowe:</label>


                                            </div>
                                            <div class="col-md-8">
                                                tel. +48 501 254 212
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Prawo jazdy nr:</label>


                                            </div>
                                            <div class="col-md-8">
                                                <b>AZX1436</b>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header card-header-text card-header-primary">
                                        <div class="card-text">
                                            <h4 class="card-title">Uwagi</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <b>Proszę o potwierdzenie po załadunku</b>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header card-header-text card-header-primary">
                                        <div class="card-text">
                                            <h4 class="card-title">Płatność netto</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Kwota:</label>


                                            </div>
                                            <div class="col-md-8">
                                                <b>3 500 PLN</b>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Termin:</label>


                                            </div>
                                            <div class="col-md-8">
                                                <b>45 dni</b>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card">                                 
                                        <div class="card-text text-right"> 
                                            <a id="add-to-order" class='btn text-white btn-primary darkgreen'>Dodaj do zlecenia</a>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end content-->
                    </div>
                    <!--  end card  -->
                </div>
                <!-- end col-md-12 -->
            </div>
            <!-- end row -->
        </div>
    </div>
 @section  scripts {<script src="~/js/DetailOrder.js"></script> }